<div id="bg">
  <h2>Chinese Movies</h2>
</div>
<div class="content">
    <div class="Pic"><img src="{{pic[0]}}" alt="Error"><h3>{{name[0]}}</h3></div>
    <div class="Pic"><img src="{{pic[1]}}" alt="Error"><h3>{{name[1]}}</h3></div>
    <div class="Pic"><img src="{{pic[2]}}" alt="Error"><h3>{{name[2]}}</h3></div>
    <div class="Pic"><img src="{{pic[3]}}" alt="Error"><h3>{{name[3]}}</h3></div>
      <div class="clear"></div>
    
    <div class="Pic"><img src="{{pic[4]}}" alt="Error"><h3>{{name[4]}}</h3></div>
    <div class="Pic"><img src="{{pic[5]}}" alt="Error"><h3>{{name[5]}}</h3></div>
    <div class="Pic"><img src="{{pic[6]}}" alt="Error"><h3>{{name[6]}}</h3></div>
    <div class="Pic"><img src="{{pic[7]}}" alt="Error"><h3>{{name[7]}}</h3></div>
     <div class="clear"></div>

    <div class="Pic"><img src="{{pic[8]}}" alt="Error"><h3>{{name[8]}}</h3></div>
    <div class="Pic"><img src="{{pic[9]}}" alt="Error"><h3>{{name[9]}}</h3></div>
    <div class="Pic"><img src="{{pic[10]}}" alt="Error"><h3>{{name[10]}}</h3></div>
    <div class="Pic"><img src="{{pic[11]}}" alt="Error"><h3>{{name[11]}}</h3></div>
     <div class="clear"></div>
  </div>